py7zr
jupyter
notebook
numpy
scipy
pandas
matplotlib
psutil
torch
setuptools<65.0.0  # Versione che include ancora pkg_resources (richiesto da threeML)
-e git+https://github.com/ldigesu/cosipy_lightcurves.git@1ff1d4ac2b84a5b8bee4e2c45819d8ffc9aae89f#egg=cosipy
astro-gdt
